body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2a7b9b;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.container {
  width: 100vw;
  height: 90vh;
}

.list {
  list-style: none;
}
a {
  text-decoration: none;
}

#unordered {
  height: 85px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
   margin-top: 0;
}

.navbar {
  background-color: aliceblue;
 
}

#links {
  display: flex;
  margin-top: 1em;
  gap: 3em;
}

.cook {
  font-size: 1.5em;
}

#logo {
  width: 70px;
  margin-top: 0.2em;
}

#search {
  width: 30px;
  border-radius: 1em;
}

#recipe {
  display: flex;
  gap: 8px;
}

i {
  margin-top: 1.2em;
  font-size: 1.8em;
}

#searchbar {
  display: flex;
}

.foot {
  width: 100%;
  background-color: aliceblue;
  min-height: 4em;
  padding: 3px;
}

#details {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#para {
  text-align: center;
}

.main {
  width: 90%;
  /* border: 1px solid blueviolet; */
  margin: auto;
  padding: 20px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.item {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin-top: 40px;

}

#fudge {
  height: 28em;
  width: auto;
  border-radius: 1.2em;
  /* box-shadow: 2px 5px 50px rgba(0, 1, 0, 1); */
 transition: transform 3s ease-out;
  
}

.rightbox:hover{
 transform: scale(1.1);
 
}

.Ingredients {
  list-style-type: square;
}

.box1 {
  box-shadow: 1px 1px 10px rgb(116, 115, 115);
  margin-bottom: 70px;
  border-radius: 10px;
  padding: 0.9em;
  cursor: pointer;
  width: 50%;

}

h1{
  color: azure;
}

.rightbox{
  position: relative;
  overflow: hidden;
} 

.rightbox .overlay{
  position: absolute;
  top:0;
  left: 0; 
  height: 28em;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.713) ; 
  border-radius: 0.9em;
  color: wheat;
  opacity: 0;
  transition: all 0.3s linear 0s;
}

.overlay:hover{
  opacity: 1;
}

.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}
 


